* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightyellow;
    font-family: "Segoe UI";
    font-size: 16px;
    padding: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

.first{
    color: red;
}

.second{
    color: blue;
}

#your-name{
    background-color: #abf19f;
    border: 3px solid #444;
    width: 400px;
    padding: 25px;
    margin-top: 30px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

a {
    background-color: aquamarine;
}

#course-image{
    width: 300px;
}

#your-name h2 {
    color: olivedrab;
}
